# Build artifacts
*.exe
*.obj
*.o
*.dll
*.lib
*.pdb
*.ilk
*.exp
*.log

CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

.vs/
*.sln
*.vcxproj*
*.cbp
*.depend
*.layout
.idea/
cmake-build-*/

glfw3.dll
glm/
GLFW/

*.out
.DS_Store

*~
*.swp
*.swo
*.bak

*.txt
OpenGLDemo.exe 